@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../Imagen/image1.png');
    background-position: center;
    background-size: cover;
}

.fondo{
    width: 430px;
    background: transparent;
    color: black;
    backdrop-filter: blur(10px);
    box-shadow:  0 0 10px rgb(0, 0,0,  .1);
    border-radius: 8px;
    padding: 30px 40px;
    border: 2.5px solid #040D12;


}
.fondo h1{
    font-size: 40px;
    text-align: center;
}
.fondo .contenedor{
    width: 100px;
    height: 50px;
    margin: 30px  0;
}


.contenedor input{
    width: auto;
    margin-left: 50%;
    height: 90%;
    background:transparent ;
    border: none;
    outline: none;
    border: 2px solid #040D12;
    border-radius: 30px;
    font-size: 17px;
    color: azure;
    padding: 20px 40px 20px 20px;
    
}
.contenedor input::placeholder{
    color: aqua;
}
.fondo .recordar{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 15px 0  15px;
}
.recordar label input{
    accent-color: #fff;
    margin-right: 3px;
}
.recordar a{
    color: whitesmoke;
    text-decoration: none;
}
.recordar a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: aliceblue;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: rgba(0,0,0, .1);
    color: #040D12;
    font-weight: bold;
}
.fondo .registro-enlace{
    font-size: 15px;
    text-align: center;
    margin-top:20px;
    margin: 20px 0 15px;
}
.registro-enlace p a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
 .registro-enlace p a:hover{ 
    text-decoration: underline;
 }   



    
    